---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'J.Nunes - Gestão de Resíduos',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    image={{ src: '/assets/images/hero.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="">J. Nunes e Filhos, Lda. </span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">Transformamos resíduos em oportunidades sustentáveis. Líderes na reciclagem de plásticos e papéis, construímos um futuro verde com mais de 30 anos de expertise.</span>
      </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  

  <!-- Features Widget *************** -->



  <!-- Quem somos -->

  
  <Features2 id="qs"
    title="Quem Somos"
    subtitle="A J. Nunes e Filhos, Lda. é uma empresa que dedica-se à recolha, tratamento e valorização de vários tipos de resíduos, na sua maioria são os resíduos de plástico e de papel.<br>Promovemos um desenvolvimento sustentável, com respeito pelo meio-ambiente e SEMPRE privilegiamos a reciclagem / valorização."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


 <!--Serviços -->

 <Steps id="sv"
 title="Serviços"
 subtitle="Áreas da atuação da J.Nunes:"
 items={[
   {
     title: 'Recolha e Transporte de Resíduos',
     /*description:
       "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
    */ icon: 'tabler:truck'
   },
   {
     title: 'Aluguer de Equipamentos de Armazenamento e Acondicionamento de Resíduos',
     /*description:
       "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
    */ icon: 'tabler:trash',
   },
   {
     title: 'Gestão de Resíduos',
     /*description:
       'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
     */icon: 'tabler:augmented-reality',
   },
   {
     title: 'Tratamento / Valorização de Resíduos',
    /* description:
       'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
     */icon: 'tabler:coin-euro',
   },

   {
     title: 'Serviços Técnicos de Gestão de Resíduos',
    /*description:
       'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
    */ icon: 'tabler:clipboard',
   },

 ]}
 image={{
   src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
   alt: 'Steps image',
 }}
/>

  <Content id="ms"
    isReversed
    title="Missão"
    items={[
      {
        title: 'Criação de valor. ',
        
        description:
          'A Gerência da J. Nunes & Filhos, Lda. está empenhada na criação de valor acrescido para clientes, trabalhadores e para o setor dos resíduos, através de um desempenho sustentável e seguro, do foco nas necessidades emergentes, do recurso à inovação. ',
      },
      {
        title: 'Compromisso Duradouro ',
        description:
          'A experiência de mais de três décadas e a política organizacional da empresa – baseada nas melhores práticas de gestão e ambientais, reconhecidas na certificação nas áreas da qualidade e ambiente – tornam a organização um parceiro credível e capaz satisfazer necessidades dos nossos Clientes. ',
      },
      
    ]}
    image={{
      src: '/assets/images/excelencia.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">Áreas de Serviço da J.Nunes & Filhos, Lda</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->


  <!-- Certificações ************** -->
  <Brands id="ct"
    title="Certificações"
    subtitle="Consulte as nossas certificações clicando na imagem correspondente."
    icons={[]}
    images={[
      {
        src: '/assets/images/Tua.png',
        alt: '/assets/documents/tua.pdf',
      },
      {
        src: '/assets/images/ISO9001_2015.png',
        alt: '/assets/documents/certificado_9001PT.pdf',
      },
      {
        src: '/assets/images/ISO14001_2015.png',
        alt: '/assets/documents/certificado_14001PT.pdf',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs id="faq"
    title="Quer Saber Mais?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Como funciona o transporte de Resíduos?',
        description:
          "A J. Nunes dispõe das viaturas que possibilitam a recolha e transporte dos resíduos acondicionados em contentores, em fardos, a granel, em sacos etc.",
      },
      {
        title: 'Como funciona o aluguer de equipamento?',
        description:
          "A J. Nunes tem vários equipamentos de armazenamento / acondicionamento de resíduos que pode colocar nas instalações dos produtores de resíduos:",
      },
      {
        title: 'Como funciona o tratamento de Resíduos?',
        description:
          'A J. Nunes tem nas suas instalações a funcionar uma linha de tratamento de resíduos de papel, cartão e plástico. O processo pode abranger três fases: separação por tipo de resíduos, limpeza de contaminantes e em ultimo a compactação dos materiais.Os resíduos tratados são encaminhados para indústria recicladora, eventualmente para outros operadores de gestão de resíduos.',
      },
      {
        title: 'Que tipos de Resíduo transportam?',
        description:
          '<ul><li class="mt-1 text-muted">- Cartão</li><li class="mt-1 text-muted">- Papel</li><li class="mt-1 text-muted">- Plástico</li><li class="mt-1 text-muted">- Outros</li></ul>',
      },
      
      {
        title: "Que tipo de equipamentos disponibilizam?",
        description:
          '<ul><li class="mt-1 text-muted">- Contentores</li><li class="mt-1 text-muted">- Compactadores</li><li class="mt-1 text-muted">- Postos Fixos</li></ul>',
      },
      {
        title: 'Que certificações possuem?',
        description:
        '<ul><li class="mt-1 text-muted">- TUA</li><li class="mt-1 text-muted">- Certificado ISO 9001</li><li class="mt-1 text-muted">- Certificado ISO 14001</li></ul>'
      },
      
      
    ]}
  />

  <!-- Stats Widget ****************** -->


  <Features2 id="cont"
    title="Contactos"
    subtitle="Entre em contacto connosco para mais informações."
    items={[
      {
        title: 'Telefone / Telemóvel',
        description: '<a href="tel:+351227452417">+351 227 452 417</a><br>Chamada com tarifário da rede fixa nacional',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a href="mailto:geral@jnunes.net">geral@jnunes.net</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Morada para correspondência',
        description: 'J.Nunes & Filhos, Lda<br>Rua das Ribeiras Velhas, 175<br>Apartado 1<br>4535-907',
        icon: 'tabler:map-pin',
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->



  </CallToAction>
</Layout>
