<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            max-width: 1020px;
            border: 2px solid black;
            margin: auto;
            padding:30px;
        }
        .container img {
            max-width: 100%;
        }
        @media (max-width: 500px) {
            p {
                font-size: 25px;
            }
        }
    </style>
<title>Qualificação das PME</title>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    <div class="container">
        <img src="./src/assets/images/barra_feder.jpg">
        <div class="text1">
            <p>Designação do projeto: <strong> QUALIFICAÇÃO DAS PME </strong></p>
            <p>Código do projeto: <strong>18/SI/2016 - CONTRATO N.2017/025268</strong></p>
            <p>Objetivo principal: <strong>REFORÇAR A COMPETIVIDADE DAS PME</strong></p>
            <p>Região de intervenção: <strong>NORTE</strong></p>
            <p>Entidade beneficiária: <strong>J.NUNES & FILHOS, LDA.</strong></p>
            <br>
            <p>Data de aprovação: <strong>03.08.2017</strong></p>
            <p>Data de início: <strong>20.01.2017</strong></p>
            <p>Data de conclusão: <strong>01.03.2021</strong></p>
            <p>Custo total elegível: <strong>41.000,00€</strong></p>
            <p>Apoio financeiro da União Europeia: <strong>FEDER - 18.450,00€</strong></p>
            <p>Apoion financeiro público nacional/regional: <strong>NÃO APLICÁVEL</strong></p>
            <br>
        </div>
        <div class="text2">
            <p>O presente projeto visa qualificar a empresa J.NUNES & FILHOS, LDA. apostando na Qualidade, Organização e no Marketing com utilização de ferramentas de TIC para permitir atingir posição reforçada nos mercados pela sua diferenciação, inovação e internacionalização.</p>
        </div>
    </div>
</body>
</html>
