---
import { getHomePermalink } from '~/utils/permalinks';
import Logo  from '~/components/Logo.astro';
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 ']}>

  

<footer class="bg-white rounded-lg shadow m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <a class="inline-block font-bold text-xl hidden sm:inline" href={getHomePermalink()}>
          <Logo />
        </a>
          <ul class="flex flex-wrap items-center mb-0 sm:mb-6 text-sm font-medium text-gray-500 sm:mb-0 flex-col sm:flex-row">
              <li>
                  <a href="#qs" class="hover:underline me-0 sm:me-4 md:me-6">Quem Somos</a>
              </li>
              <li>
                  <a href="#sv" class="hover:underline me-0 md:me-6">Serviços</a>
              </li>
              <li>
                  <a href="#ms" class="hover:underline me-0 md:me-6">Missão</a>
              </li>
              <li>
                <a href="#ct" class="hover:underline me-0 md:me-6">Certificações</a>
            </li>
            <li>
              <a href="#faq" class="hover:underline me-0 md:me-6">FAQs</a>
          </li>
              <li>
                  <a href="#cont" class="hover:underline me-0">Contactos</a>
              </li>
          </ul>
          <a href="https://www.livroreclamacoes.pt/Inicio/" class="flex justify-center">
            <img width="200" src="/assets/images/livro.png">
          </a>
      </div>
      <div class="sm:flex sm:items-center sm:justify-between">
        
        <div class="w-full sm:w-3/4">
          <a href="./qualpme">
            <img src="/assets/images/barra_feder.jpg">
          </a>
          
        </div>
        <div class="w-full sm:w-1/4">
          <a href="./src/assets/documents/REACT-EU.pdf">
            <img src="/assets/images/compete.png">
          </a>
          
        </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Powered by <a href="https://jmf-informatica.pt/">JMF Informática</a></span>
  </div>
</footer>


</footer>
